:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;

  color: #333;
  padding-bottom: 40px;
}

header p {
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 30px;
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}

h1 {
  font-size: 18px;
  font-weight: 400;
  padding: 40px 0 50px 0;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #333;
}

.icons {
  text-align: center;
  padding-bottom: 40px;
}

.icons a {
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  margin: 6px;
  line-height: 68px;
}

.icons i {
  font-size: 25px;
  /*display: block;*/

}

.text-center {
  text-align: center;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  width: 100px;
  height: 100px;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #eee;
}